version: '3'
services:
  pebble:
    image: letsencrypt/pebble:latest
    # TODO enable -strict
    command: pebble -config /test/config/pebble-config.json -dnsserver 10.30.50.3:8053
    environment:
      # with Go 1.13.x which defaults TLS 1.3 to on
      GODEBUG: "tls13=1"
      # Don't re-use authorisations (breaks force renew test scripts)
      # PEBBLE_AUTHZREUSE: "0"
    ports:
      - 14000:14000  # HTTPS ACME API
      - 15000:15000  # HTTPS Management API
    networks:
      acmenet:
        ipv4_address: 10.30.50.2
  challtestsrv:
    image: letsencrypt/pebble-challtestsrv:latest
    command: pebble-challtestsrv -defaultIPv6 "" -defaultIPv4 10.30.50.3
    ports:
      - 8055:8055  # HTTP Management API
    networks:
      acmenet:
        ipv4_address: 10.30.50.3
  getssl:
    build:
      context: .
      dockerfile: test/Dockerfile-ubuntu
    container_name: getssl
    volumes:
      - .:/getssl
    networks:
      acmenet:
        ipv4_address: 10.30.50.4
        aliases:
          - getssl.test
          - a.getssl.test
          - b.getssl.test
          - c.getssl.test
          - d.getssl.test
          - e.getssl.test
          - f.getssl.test
          - g.getssl.test
          - h.getssl.test
          - i.getssl.test
          - j.getssl.test
          - k.getssl.test

networks:
  acmenet:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.30.50.0/24
