name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '45 2 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v3
        with:
          stale-issue-message: 'This issue is stale because it has been open 60 days with no activity. Remove stale label or comment or this will be closed in 30 days.'
          days-before-stale: 60
          days-before-close: 30
          any-of-labels: 'needs more information'
          debug-only: true
